body {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding-left: 40px;
    padding-right: 40px; */
  background: rgb(82, 86, 89);
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0px;
}

ul,
span {
  padding: 0px;
}

p {
  margin: 0px;
}

.wrapper {
  width: 1116px;
  height: 1681px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  background: rgb(234, 234, 234);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.design-line {
  position: absolute;
  top: 20%;
  left: 0;
  width: 1132px;
}

.sidebar {
  width: 444px;
  box-sizing: border-box;
  background: #1b2754;
  padding-top: 120px;
  position: relative;
  padding-left: 40px;
  padding-right: 70px;
  margin-right: 0px;
}

.sidebar-foot-element {
  width: inherit;
  height: 62px;
  background: #99ccc7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-content {
  width: 684px;
  /* border-top: rgb(198, 198, 198) 1px solid; */
  border-right: rgb(198, 198, 198) 2px solid;
  border-bottom: rgb(198, 198, 198) 1px solid;
}

.about-me {
  height: 397px;
  background: #99ccc7;
}

.personal-growth {
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(59, 56, 56);
}

.sidebar-horizontal-row {
  background: #a0ccc4;
  height: 3px;
  width: 280px;
  border: none;
  margin: 0px;
}

.courses-container {
  margin-top: 140px;
  margin-left: 20px;
}

.sidebar-title {
  color: #a0ccc4;
  text-transform: uppercase;
  padding-left: 52px;
  margin: 5px;
  font-size: 22px;
}

.courses-list {
  padding-left: 0px;
}

.sidebar-item {
  color: #d8d8d8;
  list-style: none;
  margin-bottom: 12px;
  font-size: 18px;
}

.hard-skills-container {
  margin-top: 140px;
  margin-left: 20px;
}

.hard-skills-list {
  padding-left: 0px;
}

.hard-skills-item {
  color: #d8d8d8;
  list-style: none;
  margin-bottom: 8px;
}

.certificates-container {
  margin-top: 40px;
  margin-left: 20px;
}

.certificates-item {
  list-style: none;
  margin-bottom: 8px;
}

.certificates-link {
  color: #d8d8d8;
}

.sidebar-icon {
  height: 36px;
  float: left;
  padding-left: 5px;
}

.sidebar-title-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.my-name {
  font-family: Montserrat, Arial Black, Arial;
  color: #1b2754;
  font-size: 72px;
  padding-top: 100px;
  padding-left: 48px;
  text-transform: uppercase;
}

.my-profession {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 48px;
  color: rgb(59, 56, 56);
  font-size: 36px;
}

.contacts-mail-icon {
  position: absolute;
  top: 18%;
  left: 20px;
  height: 32px;
}

.contacts-location-icon {
  position: absolute;
  top: 16%;
  left: 24px;
  height: 30px;
}

/* Sidebar contacts */
.contacts-container {
  color: #d8d8d8;
}

.phone-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 45px;
  background-image: url(../images/contacts-frame.png);
  background-repeat: no-repeat;
}

.contacts-phone-icon {
  margin-right: 10px;
  height: 80%;
}

.phone-text {
  font-size: 20px;
}

.email-container {
  position: relative;
  height: 45px;
  margin-top: 16px;
}

.email-text {
  position: absolute;
  top: 26%;
  left: 70px;
  font-size: 20px;
}

.location-container {
  position: relative;
  height: 45px;
  margin-top: 16px;
  width: 444px;
}

.location-text {
  position: absolute;
  top: 26%;
  left: 70px;
  font-size: 20px;
}

.main-horizontal-row {
  background: rgb(217, 217, 217);
  height: 3px;
  width: 600px;
  border: none;
  margin: 0px;
}

.education-icon {
  height: 36px;
  float: left;
  margin-left: 5px;
}

.education-container {
  margin-top: 44px;
  margin-bottom: 20px;
}

.education-title-container {
  height: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-content: center;
  display: flex;
  align-items: center;
}

.education-title {
  text-transform: uppercase;
  margin-left: 22px;
  font-size: 22px;
}

.university-1-container {
  margin-bottom: 24px;
}

/* Education content */
.education-university-name {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.education-university-tech {
  font-size: 20px;
  font-weight: 700;
}

/* Work experience title */
.work-experience-icon {
  height: 36px;
  float: left;
  margin-left: 5px;
}

.work-experience-container {
  margin-top: 44px;
  margin-bottom: 20px;
}

.work-experience-title-container {
  height: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-content: center;
  display: flex;
  align-items: center;
}

.work-experience-title {
  text-transform: uppercase;
  margin-left: 28px;
  font-size: 22px;
}

.work-name {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.growth-period {
  font-weight: 400;
}

.work-duty-list {
  padding-left: 26px;
}

.work-duty-item {
  font-size: 20px;
}

.work-2-container,
.work-3-container {
  margin-top: 20px;
}

@media screen and (max-width: 1180px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    padding-left: 10px;
    padding-right: 0;
    width: 330px;
  }

  .design-line {
    display: none;
  }

  .sidebar-item {
    width: 280px;
  }

  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .personal-growth {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-horizontal-row {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }

  .my-name {
    padding-top: 10px;
    padding-left: 35px;
  }

  .my-profession {
    font-size: 28px;
    padding-left: 35px;
  }

  .about-me {
    height: 300px;
    padding-left: 0px;
  }

  .education-container {
    margin-top: 20px;
  }

  .work-experience-container {
    margin-top: 20px;
  }

  .sidebar {
    padding-top: 20px;
  }

  .courses-container {
    margin-top: 132px;
  }

  .hard-skills-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 770px) {
  body {
    margin: 0;
  }

  .contacts-frame {
    display: none;
  }

  .sidebar-item {
    font-size: 14px;
  }

  .sidebar-title {
    font-size: 18px;
    padding-left: 48px;
  }

  .sidebar-horizontal-row {
    width: 220px;
  }

  .sidebar-item {
    width: 240px;
  }

  .phone-text,
  .email-text,
  .location-text {
    font-size: 18px;
  }

  .email-container,
  .location-container {
    margin-top: 0px;
  }

  .sidebar {
    width: 300px;
  }

  .sidebar-icon {
    height: 30px;
  }

  .wrapper {
    width: 770px;
  }

  .my-name {
    font-size: 54px;
    padding-top: 40px;
    padding-right: 5px;
  }

  .my-profession {
    font-size: 24px;
  }
}
