body {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(82, 86, 89);
  font-family: Arial;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0px;
}

ul,
span {
  padding: 0px;
}

p {
  margin: 0px;
}

.wrapper {
  width: 1129px;
  /* height: 1681px; */
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  background: rgb(234, 234, 234);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.design-line {
  position: relative;
  margin-left: -60px;
  top: -1039px;
  width: 1135px;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 444px;
  height: 100%;
  background: #1b2754;
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 70px;
  margin-right: 0px;
  color: #d8d8d8;
}

.sidebar-and-footer {
  display: flex;
  flex-direction: column;
}

.sidebar-foot-element {
  display: flex;
  align-items: center;
  padding-left: 160px;
  height: 62px;
  background: #99ccc7;
}

.sidebar-foot-element .link {
  margin-right: 14px;
}

.main-content {
  padding-bottom: 40px;
  width: 684px;

  border-right: rgb(198, 198, 198) 2px solid;
  border-bottom: rgb(198, 198, 198) 1px solid;
}

.about-me {
  height: 397px;
  background: #99ccc7;
}

.personal-growth {
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(59, 56, 56);
}

.courses-container {
  margin-top: 140px;
}

.courses-list {
  padding-left: 0px;
}

.courses-list,
.hard-skills-list,
.certificates-list {
  padding-left: 5px;
}

.sidebar-item {
  list-style: none;
  margin-bottom: 12px;
  font-size: 18px;
}

.hard-skills-container {
  margin-top: 40px;
}

.hard-skills-item {
  list-style: none;
  margin-bottom: 8px;
}

.certificates-container {
  margin-top: 40px;
}

.certificates-item {
  list-style: none;
  margin-bottom: 8px;
}

.link {
  padding: 10px 0;
  color: #d8d8d8;
}

.sidebar-item .link {
  padding: 0 0;
}

.link:hover {
  color: #99ccc7;
}

.sidebar-title-container {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-top: 3px solid #99ccc7;
  border-bottom: 3px solid #99ccc7;
}

.sidebar-icon {
  margin-right: 10px;
  height: 36px;
}

.sidebar-title {
  color: #a0ccc4;
  text-transform: uppercase;
  font-size: 22px;
}

.my-name {
  font-family: Montserrat, Arial Black, Arial;
  color: #1b2754;
  font-size: 72px;
  padding-top: 100px;
  padding-left: 48px;
  text-transform: uppercase;
}

.my-profession {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 48px;
  color: rgb(59, 56, 56);
  font-size: 36px;
}

/* Sidebar contacts */
.contacts-container {
  display: flex;
  flex-direction: column;
  color: #d8d8d8;
}

.phone-container,
.email-container,
.location-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 45px;
  background-image: url(../images/contacts-frame.png);
  background-size: cover;

  background-repeat: no-repeat;
}

.phone-container,
.email-container {
  margin-bottom: 15px;
}

.contacts-phone-icon,
.contacts-mail-icon,
.contacts-location-icon {
  margin-right: 10px;
  height: 80%;
}

.phone-text,
.email-text,
.location-text {
  font-size: 20px;
}

.education-icon {
  height: 36px;
  float: left;
  margin-left: 5px;
}

.education-container {
  margin-top: 44px;
  margin-bottom: 20px;
}

.education-title-container {
  display: flex;
  align-items: center;
  height: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 3px solid #d8d8d8;
  border-bottom: 3px solid #d8d8d8;
}

.education-title {
  text-transform: uppercase;
  margin-left: 22px;
  font-size: 22px;
}

.university-1-container {
  margin-bottom: 24px;
}

/* Education content */
.education-university-name {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.education-university-tech {
  font-size: 20px;
  font-weight: 700;
}

/* Work experience title */
.work-experience-icon {
  height: 36px;
  float: left;
  margin-left: 5px;
}

.work-experience-container {
  margin-top: 44px;
  margin-bottom: 20px;
}

.work-experience-title-container {
  height: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-content: center;
  display: flex;
  align-items: center;
  border-top: 3px solid #d8d8d8;
  border-bottom: 3px solid #d8d8d8;
}

.work-1-container,
.work-2-container {
  border-bottom: 3px solid #d8d8d8;
}

.work-experience-title {
  text-transform: uppercase;
  margin-left: 28px;
  font-size: 22px;
}

.work-name {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.growth-period {
  font-weight: 400;
}

.work-duty-list {
  padding-left: 26px;
}

.work-duty-item {
  font-size: 20px;
}

.work-2-container,
.work-3-container {
  margin-top: 20px;
}
/* 
@media screen and (max-width: 1180px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    padding-left: 10px;
    padding-right: 8px;
    width: 330px;
  }

  .design-line {
    display: none;
  }

  .sidebar-item {
    width: 280px;
  }

  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .personal-growth {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }

  .my-name {
    padding-top: 10px;
    padding-left: 35px;
  }

  .my-profession {
    font-size: 28px;
    padding-left: 35px;
  }

  .about-me {
    height: 300px;
    padding-left: 0px;
  }

  .education-container {
    margin-top: 20px;
  }

  .work-experience-container {
    margin-top: 20px;
  }

  .sidebar {
    padding-top: 20px;
    padding-right: 8px;
  }

  .courses-container {
    margin-top: 132px;
  }

  .hard-skills-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 770px) {
  body {
    margin: 0;
  }

  .contacts-frame {
    display: none;
  }

  .sidebar-item {
    font-size: 14px;
  }

  .sidebar-title {
    font-size: 18px;
  }

  .sidebar-item {
    width: 240px;
  }

  .phone-text,
  .email-text,
  .location-text {
    font-size: 18px;
  }

  .email-container,
  .location-container {
    margin-top: 0px;
  }

  .sidebar {
    width: 300px;
  }

  .sidebar-icon {
    height: 30px;
  }

  .wrapper {
    width: 770px;
  }

  .my-name {
    font-size: 54px;
    padding-top: 40px;
    padding-right: 5px;
  }

  .my-profession {
    font-size: 24px;
  }

  .phone-container,
  .email-container,
  .location-container {
    background-size: 100% 100%;
  }
} */
